
body #main #display #content {
	background-color: var(--bg);
	box-sizing: border-box;
	box-shadow: 0 0 10px #000000;
	color: var(--fg);
	//margin: 0 auto;
	margin-bottom: 5em;
	// min-width: var(--content-width);
	padding: 3em;
	position: relative;
	top: var(--content-adjust);
	//width: var(--content-width);

	h1 {
		border-bottom: 0.09em solid var(--accent);
		color: var(--accent);
		font-family: var(--title-font);
		font-variant: small-caps;
		font-size: 250%;
		font-weight: bold;
		margin: 0;
		text-align: center;
	}

	h2 {
		color: var(--accent);
		font-family: var(--serif-font);
		font-size: 170%;
		font-weight: bold;
		margin: 1em 0 0 0;
		text-decoration: underline;
	}

	h3 {
		color: var(--accent);
		font-family: var(--serif-font);
		font-size: 140%;
		font-weight: bold;
		margin: 1em 0 0 0;
	}

	h4 {
		font-family: var(--serif-font);
		font-size: 120%;
		font-weight: bold;
		margin: 1em 0 0 0;
	}

	h5 {
		font-family: var(--serif-font);
		font-size: 100%;
		font-weight: bold;
		margin: 1em 0 0 0;
	}

	h6 {
		font-family: var(--sans-font);
		font-size: 100%;
		font-weight: bold;
		margin: 1em 0 0 0;
	}

	p {
		margin-top: 1em;
		margin-bottom: 0;
		text-indent: 1em;

		a {
			color: var(--blue-light);
		}
		a:visited {
			color: var(--blue-shade);
		}
		a:hover {
			color: var(--red-dark);
		}

		em {
			font-style: italic;
		}
		strong {
			font-weight: bold;
		}

		em strong, strong em {
			color: var(--accent);
		}
	}

	blockquote {
		background-color: var(--accent-light);
		border: 0.5em solid var(--accent);
		border-width: 0.2em 0.1em;
		font-style: italic;
		margin: 2em 10em;
		width: calc(100% - 20em);

		footer {
			color: var(--accent-shade);
			text-align: right;
		}
	}

	hr {
		background-color: var(--accent);
		border-style: none;
		height: 0.2em;
	}

	h1+p {
		text-indent: 0;
	}

	h2+p, h3+p, h4+p, h5+p, h6+p {
		margin-top: 0.5em;
		text-indent: 0;
	}
}