
body #text_entry {
	#page_form {
		#page_form_title {
			background-color: transparent;
			border: none;
			border-radius: 0;
			color: var(--accent);
			font-family: var(--title-font);
			font-size: 250%;
			font-variant: small-caps;
			font-weight: bold;
			margin: 0.1em 0 0.4em 0;
			outline: none;
			padding: 0.1em;
		}
		#page_form_title:focus, #page_form_title:hover {
			background-color: var(--bg-light);
		}

		.mkdn_editor {
			border-color: var(--bg-dark);
			background-color: transparent;
			border: none;
			box-sizing: border-box;
			font-family: var(--sans-font);
			font-size: 90%;
			margin: 1em 1em 0 1em;
			min-height: 30em;
			outline: none;
			overflow-y: hidden;
			padding: 1em;
			padding-right: calc(1em + var(--scrollbar-width));
			resize: none;
			width: calc(100% - 2em);
		}
		.mkdn_editor:hover, .mkdn_editor:focus {
			padding-right: 1em;
			background-color: var(--bg-light);
			overflow-y: scroll;
		}

		#page_form_preview {
			display: none;
			min-height: 30em;
		}

		#page_form_submit {
			margin: 0 auto;
			width: 20em;
		}

		#page_form_review_sub {
			color: var(--accent);
			font-size: 80%;
			font-weight: bold;
			text-align: right;

			span {
				cursor: pointer;
			}
		}
		#page_form_review_sub span:hover {
			color: var(--accent-dark);
			text-decoration: underline;
		}

		#page_form_switch_sub {
			color: var(--accent);
			font-size: 80%;
			font-weight: bold;
			text-align: left;

			span {
				cursor: pointer;
			}
		}
		#page_form_switch_sub span:hover {
			color: var(--accent-dark);
			text-decoration: underline;
		}
	}
}