
body #sidebar {
	background-color: transparent;
	float: left;
	overflow-x: auto;
	width: var(--sidebar-width);

	ul {
		margin: 0;
		margin-right: 0.3em;
		padding: 0;

		li {
			background-color: var(--accent);
			border-right: 0.1em solid var(--accent-dark);
			color: var(--fg-light);
			cursor: pointer;
			display: block;
			font-size: 120%;
			font-weight: normal;
			margin: 0;
			padding: 0.2em;
			padding-left: 2em;
			text-indent: -1.5em;

			@include transition(background-color, 0.4s);
			@include transition(margin-right, 0.1s);
		}
		li.parent {
			border-bottom: 0.1em solid var(--accent-dark);
		}
		li.restart {
			border-top: 0.1em solid var(--accent-dark);
		}
		li.last {
			border-bottom: 0.1em solid var(--accent-dark);
		}
		li:hover {
			background-color: var(--accent-dark);
			margin-right: -0.3em;
		}

		ul {
			margin-right: 0.7em;

			li {
				background-color: var(--bg);
				border-right: 0.1em solid var(--accent);
				box-sizing: border-box;
				color: var(--accent);
				cursor: pointer;
				font-size: 110%;
				font-weight: normal;
				margin: 0;
				padding: 0.2em;
				padding-left: 2em;
				text-indent: -1.5em;
			}
			li.parent {
				border-bottom: 0.2em solid var(--accent);
			}
			li.restart {
				border-top: 0.1em solid var(--accent);
			}
			li.last {
				border-bottom: none;
			}
			li:hover {
				background-color: var(--bg);
				border-top: 0.1em solid var(--accent);
				border-bottom: 0.1em solid var(--accent);
				margin-right: -0.3em;
				padding-top: 0.1em;
				padding-bottom: 0.1em;
				font-weight: bold;
			}
			li.first:hover {
				border-top: none;
				padding-top: 0.2em;
			}
			li.parent:hover {
				padding-bottom: 0.2em;
				border-bottom: 0.2em solid var(--accent);
			}
			li.restart:hover {
				padding-top: 0.2em;
			}
			li.last:hover {
				padding-bottom: 0.2em;
				border-bottom: none;
			}

			ul {
				background-color: var(--accent-light);
				border-right: 0.2em solid var(--accent);
				cursor: pointer;
				font-size: 90%;
				font-weight: normal;
				margin: 0;
				margin-right: 1em;
				padding: 0.1em;
				padding-left: 1em;

				li {
					background-color: transparent;
					border: 0 none black;
					font-size: 100%;
					padding: 0.2em 0.5em 0.2em 1em;
					text-indent: -1em;
				}
				li.parent {
					border: none;
				}
				li.restart {
					border: none;
				}
				li::before {
					content: "\2013\00a0";
				}
				li:hover {
					background-color: var(--accent-light);
					border-bottom: none;
					border-top: none;
					font-weight: bold;
					margin-right: 1.5em;
					padding: 0.2em 0em 0.2em 1em;
				}
				li.parent:hover{
					border-bottom: none;
					padding: 0.2em 0em 0.2em 1em;
				}
				li.last:hover {
					padding: 0.2em 0em 0.2em 1em;
				}

				ul {
					background-color: transparent;
					border: 0 none black;
					cursor: pointer;
					font-size: 100%;
					font-weight: normal;
					margin: 0 0 0 1em;
					padding-left: 1em;

					li {
						padding: 0.2em 0 0.2em 0;
					}
					li:hover {
						//margin-right: 1em;
						padding: 0.2em 0 0.2em 0;
					}
					li.parent:hover{
						border-bottom: none;
						padding: 0.2em 0 0.2em 0;
					}
					li.last:hover {
						padding: 0.2em 0 0.2em 0;
					}
				}
			}
		}
	}
}