{% extends "base.njk" %}

{% block display_title %}
	The Compendium
{% endblock %}

{% block display_subtitle %}
	A place where worlds meet
	{{ name }}
{% endblock %}

{% block content %}
	{% include 'content/home.html' %}
{% endblock %}

{% block navbars %}
	{% include "navopts/navopt_home.njk" %}
	{% set dd_link_text = "Hello World!" %}
	{% include "navopts/navopt_dropdown.njk" %}
	{% if user %}
		{% include "navopts/navopt_user.njk" %}
	{% else %}
		{% include "navopts/navopt_sign_in.njk" %}
	{% endif %}
{% endblock %}

{% block screens %}
	{% include "screens/login_screen.njk" %}
{% endblock %}