
body #main #display {
	float: right;
	overflow-x: auto;
	position: relative;
	//width: calc(100% - var(--sidebar-width));
	//width: calc(var(--content-width) + var(--sidebar-width));
	//margin: 0 auto;
}