
body #main {
	background-color: black;
	background-image: url("../res/backgrounds/imperial_city.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
	box-shadow: inset 0 0 10px #000000;
	background-color: black;
	overflow-x: hidden;
	width: 100%;
}