
body #sidebar {
	background-color: transparent;
	direction: rtl;
	float: left;
	overflow-y: auto;
	position: fixed;
	max-width: 1000px;

	#sidebar_items {
		float: right;
		width: calc(100% - 10px);

		ul {
			direction: ltr;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				padding: 0;
				padding-left: 2em;

				> a {
					background-color: var(--accent);
					border-left: 0.1em solid var(--accent-dark);
					color: var(--fg-light);
					cursor: pointer;
					display: block;
					font-size: 100%;
					font-weight: normal;
					margin: 0;
					padding: 0.5em;

					@include transition(background-color, 0.4s);
					@include transition(margin-right, 0.1s);
				}
			}
			li.first > a {
				//padding-top: 1em;
			}
			li.parent > a {
				border-bottom: 0.1em solid var(--accent-dark);
			}
			li.restart > a {
				border-top: 0.1em solid var(--accent-dark);
			}
			li.last > a {
				border-bottom: 0.1em solid var(--accent-dark);
			}
			li > a:hover {
				background-color: var(--accent);
				margin-left: -0.3em;
				text-decoration: none;
			}

			ul {
				box-sizing: border-box;

				li {
					> a {
						background-color: var(--bg);
						border-left: 0.1em solid var(--accent);
						color: var(--accent);
						font-size: 100%;
						//padding-right: 2em;
					}					
				}
				li.first > a {
					padding-top: 0.5em;
				}
				li.last > a {
					border-bottom: 0.1em solid var(--accent);
				}
				li.parent > a {
					border-bottom: 0.2em solid var(--accent);
				}
				li.restart > a {
					border-top: 0.1em solid var(--accent);
				}
				li > a:hover {
					background-color: var(--bg);
					border-top: 0.1em solid var(--accent);
					border-bottom: 0.1em solid var(--accent);
					margin-left: -0.3em;
					padding-top: 0.4em;
					padding-bottom: 0.4em;
					font-weight: bold;
				}
				li.first > a:hover {
					border-top: none;
					padding-top: 0.5em;
				}
				li.last > a:hover {
					padding-bottom: 0.6em;
					border-bottom: none;
				}
				li.parent > a:hover {
					padding-bottom: 0.5em;
					border-bottom: 0.2em solid var(--accent);
				}
				li.restart > a:hover {
					padding-top: 0.5em;
					padding-bottom: 0.4em;
				}

				ul {
					background-color: var(--accent-light);
					border-left: 0.2em solid var(--accent);
					border-bottom: 0.1em solid var(--accent);
					cursor: pointer;
					font-size: 90%;
					font-weight: normal;
					padding: 0.1em 0em 0.1em 1em;

					li {
						padding: 0;

						> a {
							background-color: transparent;
							font-size: 100%;
							padding: 0.2em 1em 0.2em 0em;
						}
					}
					li.last > a {
						border: none;
					}
					li.parent > a {
						border: none;
					}
					li.restart > a {
						border: none;
					}
					li > a:hover {
						background-color: var(--accent-light);
						border-bottom: none;
						border-top: none;
						color: var(--accent-dark);
						font-weight: bold;
						//margin-right: 1.5em;
						padding: 0.2em 1em 0.2em 0em;
					}
					li.parent > a:hover {
						border-bottom: none;
						padding: 0.2em 1em 0.2em 0em;
					}
					li.last > a:hover {
						padding: 0.2em 1em 0.2em 0em;
						border-bottom: none;
					}

					ul {
						font-size: 100%;
						padding: 0;
						overflow: visible;

						li > a {
							margin: 0;
							padding: 0;
							margin-right: 0.2em;
							text-indent: 0;
							overflow: visible;
						}
						li > a:hover {
							//margin-right: 0;
							padding: 0;
							padding-right: 0.2em;
						}
						li.parent > a:hover, li.last > a:hover {
							padding: 0;
							padding-right: 0.2em;
						}
						border: none;
					}
				}
			}
		}
	}

	/*
	#sidebar_adjust {
		//background-color: var(--accent);
		//background-image: url('../../res/icons/adjust_slider.png');
		//background-position: center; 
		//background-repeat: no-repeat;
		//border-left: 1px solid var(--accent-dark);
		//border-right: 1px solid var(--accent-dark);
		cursor: col-resize;
		float: right;
		height: 100%;
		//opacity: 0;
		width: 10px;
	}*/
}
body #sidebar::-webkit-scrollbar {
    width: 0px;  // remove scrollbar space
    background: transparent;  // optional: just make scrollbar invisible
    display: none;
}
/*
body #sidebar:hover, body #sidebar.hover {
	background-color: var(--accent-screen);

	#sidebar_adjust {
		opacity: 1;
	}
}
*/

body #main.no-sidebar #sidebar {
	display: none;
}
