
html {
	height: 100%;
}

body {
	color: var(--fg);
	display: flex;
	flex-direction: column;
	font-family: var(--sans-font);
	height: 100%;
	margin: 0;

	.fr { float: right; }
	.fl { float: left; }
	.clearer {clear: both; }

	.screen {
		background-color: var(--accent-screen);
		display: none;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99;
	}

	.error {
		color: var(--error);
		display: none;
		font-family: var(--code-font);
		margin-top: 0.5em;
		text-align: center;
	}

	hr {
		background-color: var(--accent);
		border-style: none;
		height: 0.2em;
	}
}

body > * {
	flex-shrink: 0;
}