html {
  height: 100%; }

body {
  color: var(--fg);
  display: flex;
  flex-direction: column;
  font-family: var(--sans-font);
  height: 100%;
  margin: 0; }
  body .fr {
    float: right; }
  body .fl {
    float: left; }
  body .clearer {
    clear: both; }
  body .screen {
    background-color: var(--accent-screen);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99; }
  body .error {
    color: var(--error);
    display: none;
    font-family: var(--code-font);
    margin-top: 0.5em;
    text-align: center; }

body > * {
  flex-shrink: 0; }

body form label {
  color: var(--accent);
  display: block;
  font-family: var(--sans-font);
  font-size: 90%;
  font-weight: bold;
  margin-top: 0.2em; }
body form input[type=text], body form input[type=password] {
  box-sizing: border-box;
  border: 1px solid var(--accent-light);
  border-radius: 0.2em;
  display: block;
  padding: 0.5em;
  width: 100%; }
body form input[type=text].invalid, body form input[type=password].invalid {
  border: 1px solid var(--red);
  background-color: var(--red-shade); }
body form input[type=text].invalid:focus, body form input[type=password].invalid:focus {
  outline: 1px solid var(--red); }
body form .button {
  background-color: var(--accent);
  border-radius: 0.2em;
  color: var(--fg-light);
  cursor: pointer;
  margin-top: 1em;
  padding: 0.5em;
  text-align: center; }
body form .button:hover {
  background-color: var(--accent-dark); }
body form .button.disabled {
  background-color: var(--accent-light);
  cursor: default; }
body form .ttb {
  display: block;
  position: relative; }
  body form .ttb .tt {
    display: none; }
body form .ttb:hover .tt, body form .ttb:hover .tt {
  background-color: var(--bg);
  border: 0.1em solid var(--accent-light);
  border-radius: 0.2em;
  color: var(--accent);
  display: inline-block;
  font-family: var(--sans-font);
  font-size: 90%;
  font-weight: bold;
  left: 100%;
  padding: 0.2em;
  position: absolute;
  top: 0;
  white-space: nowrap;
  z-index: 1; }
  body form .ttb:hover .tt ul, body form .ttb:hover .tt ul {
    margin: 0;
    padding: 0 0.2em 0.2em 2em; }
    body form .ttb:hover .tt ul li, body form .ttb:hover .tt ul li {
      font-weight: normal; }

body #header h1 {
  color: var(--accent);
  font-family: var(--title-font);
  font-size: 3em;
  font-variant: small-caps;
  font-weight: bold;
  margin: 0.2em 0 0 0.4em; }

body #navbar {
  background-color: var(--accent);
  box-shadow: 0px 2px 5px var(--accent-dark);
  font-size: 100%;
  overflow: visible;
  padding: 0 1em;
  width: 100%;
  z-index: 4; }
  body #navbar .navopt {
    color: var(--fg-light);
    cursor: pointer;
    display: inline-block;
    height: 100%;
    overflow-y: visible;
    padding: 0.7em;
    vertical-align: middle;
    -moz-transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s; }
    body #navbar .navopt .dropdown-menu {
      background-color: var(--bg-light);
      border: 2px solid var(--accent-dark);
      border-radius: 0.2em;
      box-shadow: 0px 2px 10px var(--accent-dark);
      margin-top: 0;
      min-width: 15em;
      padding: 0.2em 0; }
      body #navbar .navopt .dropdown-menu li {
        color: var(--accent);
        padding: 0.2em 0.7em;
        -moz-transition: background-color 0.4s;
        -webkit-transition: background-color 0.4s;
        transition: background-color 0.4s; }
        body #navbar .navopt .dropdown-menu li a {
          background-color: transparent;
          color: inherit;
          padding: 0; }
      body #navbar .navopt .dropdown-menu li:hover {
        background-color: var(--accent-light); }
        body #navbar .navopt .dropdown-menu li:hover a {
          background-color: transparent; }
      body #navbar .navopt .dropdown-menu li.spacer {
        border-bottom: 0.1em solid var(--bg-dark);
        height: 0;
        margin: 1px 0;
        padding: 0; }
      body #navbar .navopt .dropdown-menu li.spacer:hover {
        background-color: var(--bg-light); }
  body #navbar .navopt:hover, body #navbar .navopt.open {
    background-color: var(--accent-dark); }
  body #navbar .navopt.button {
    background-color: var(--accent-shade);
    border-radius: 0.3em;
    margin: 0.2em 0.3em;
    padding: 0.5em 0.4em; }
  body #navbar .navopt.button:hover {
    background-color: var(--bg);
    color: var(--accent); }

body #main {
  background-color: black;
  background-image: url("../../res/backgrounds/imperial_city.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: inset 0 0 10px #000000;
  background-color: black;
  overflow-x: hidden;
  width: 100%; }

body #sidebar {
  background-color: transparent;
  direction: rtl;
  float: left;
  overflow-y: auto;
  position: fixed;
  width: var(--sidebar-width); }
  body #sidebar #sidebar_items {
    float: left;
    width: calc(100% - 10px); }
    body #sidebar #sidebar_items ul {
      direction: ltr;
      margin: 0;
      margin-right: 0.3em;
      padding: 0; }
      body #sidebar #sidebar_items ul li {
        background-color: var(--accent);
        border-right: 0.1em solid var(--accent-dark);
        color: var(--fg-light);
        cursor: pointer;
        display: block;
        font-size: 100%;
        font-weight: normal;
        margin: 0;
        padding: 0.2em;
        padding-left: 2em;
        text-indent: -1.5em;
        -moz-transition: background-color 0.4s;
        -webkit-transition: background-color 0.4s;
        transition: background-color 0.4s;
        -moz-transition: margin-right 0.1s;
        -webkit-transition: margin-right 0.1s;
        transition: margin-right 0.1s; }
      body #sidebar #sidebar_items ul li.first {
        padding-top: 1em; }
      body #sidebar #sidebar_items ul li.parent {
        border-bottom: 0.1em solid var(--accent-dark); }
      body #sidebar #sidebar_items ul li.restart {
        border-top: 0.1em solid var(--accent-dark); }
      body #sidebar #sidebar_items ul li:hover {
        background-color: var(--accent-dark);
        margin-right: -0.3em; }
      body #sidebar #sidebar_items ul #sidebar_footer {
        padding: 0 0 0 0;
        margin: 0 0 0 0; }
      body #sidebar #sidebar_items ul #sidebar_footer:hover {
        background-color: var(--accent);
        margin-right: 0em; }
      body #sidebar #sidebar_items ul ul {
        margin-right: 0.7em; }
        body #sidebar #sidebar_items ul ul li {
          background-color: var(--bg);
          border-right: 0.1em solid var(--accent);
          box-sizing: border-box;
          color: var(--accent);
          cursor: pointer;
          font-size: 100%;
          font-weight: normal;
          margin: 0;
          padding: 0.2em;
          padding-left: 2em;
          text-indent: -1.5em; }
        body #sidebar #sidebar_items ul ul li.first {
          padding-top: 0.2em; }
        body #sidebar #sidebar_items ul ul li.parent {
          border-bottom: 0.2em solid var(--accent); }
        body #sidebar #sidebar_items ul ul li.restart {
          border-top: 0.1em solid var(--accent); }
        body #sidebar #sidebar_items ul ul li.last {
          border-bottom: none; }
        body #sidebar #sidebar_items ul ul li:hover {
          background-color: var(--bg);
          border-top: 0.1em solid var(--accent);
          border-bottom: 0.1em solid var(--accent);
          margin-right: -0.3em;
          padding-top: 0.1em;
          padding-bottom: 0.1em;
          font-weight: bold; }
        body #sidebar #sidebar_items ul ul li.first:hover {
          border-top: none;
          padding-top: 0.2em; }
        body #sidebar #sidebar_items ul ul li.parent:hover {
          padding-bottom: 0.2em;
          border-bottom: 0.2em solid var(--accent); }
        body #sidebar #sidebar_items ul ul li.restart:hover {
          padding-top: 0.2em; }
        body #sidebar #sidebar_items ul ul li.last:hover {
          padding-bottom: 0.2em;
          border-bottom: none; }
        body #sidebar #sidebar_items ul ul ul {
          background-color: var(--accent-light);
          border-right: 0.2em solid var(--accent);
          cursor: pointer;
          font-size: 90%;
          font-weight: normal;
          margin: 0;
          margin-right: 1em;
          padding: 0.1em 0.2em 0.1em 1em; }
          body #sidebar #sidebar_items ul ul ul li {
            background-color: transparent;
            border: 0 none black;
            font-size: 100%;
            padding: 0.2em 0.5em 0.2em 1em;
            text-indent: -1em; }
          body #sidebar #sidebar_items ul ul ul li.parent {
            border: none; }
          body #sidebar #sidebar_items ul ul ul li.restart {
            border: none; }
          body #sidebar #sidebar_items ul ul ul li::before {
            content: "\2013\00a0"; }
          body #sidebar #sidebar_items ul ul ul li:hover {
            background-color: var(--accent-light);
            border-bottom: none;
            border-top: none;
            font-weight: bold;
            margin-right: 1.5em;
            padding: 0.2em 0em 0.2em 1em; }
          body #sidebar #sidebar_items ul ul ul li.parent:hover {
            border-bottom: none;
            padding: 0.2em 0em 0.2em 1em; }
          body #sidebar #sidebar_items ul ul ul li.last:hover {
            padding: 0.2em 0em 0.2em 1em; }
          body #sidebar #sidebar_items ul ul ul ul {
            background-color: transparent;
            border: 0 none black;
            cursor: pointer;
            font-size: 100%;
            font-weight: normal;
            margin: 0 0 0 1em;
            padding-left: 1em; }
            body #sidebar #sidebar_items ul ul ul ul li {
              padding: 0.2em 0 0.2em 0; }
            body #sidebar #sidebar_items ul ul ul ul li:hover {
              padding: 0.2em 0 0.2em 0; }
            body #sidebar #sidebar_items ul ul ul ul li.parent:hover {
              border-bottom: none;
              padding: 0.2em 0 0.2em 0; }
            body #sidebar #sidebar_items ul ul ul ul li.last:hover {
              padding: 0.2em 0 0.2em 0; }
  body #sidebar #sidebar_adjust {
    background-color: black;
    float: right;
    height: 100%;
    width: 10px; }

body #sidebar::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
  display: none; }

body #main.no-sidebar #sidebar {
  display: none; }

body #main #display {
  float: right;
  overflow-x: auto;
  position: relative; }

body #main #display #heading {
  /*background-color: black;
  background-image: url("../../res/backgrounds/imperial_city.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0;*/
  height: var(--heading-height);
  min-width: var(--min-width);
  width: 100%; }
  body #main #display #heading h1, body #main #display #heading h2 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: default;
    display: inline-block;
    font-family: var(--sans-font);
    font-weight: normal;
    left: 50px;
    margin: 0;
    overflow: hidden;
    padding: 0 5px 0 5px;
    position: absolute;
    -webkit-user-select: none; }
  body #main #display #heading h1 {
    font-size: 300%;
    height: 60px;
    line-height: 60px;
    top: 30px; }
  body #main #display #heading h2 {
    font-size: 150%;
    height: 30px;
    line-height: 30px;
    top: 90px; }

body #main #display #content {
  background-color: var(--bg);
  box-sizing: border-box;
  box-shadow: 0 0 10px #000000;
  color: var(--fg);
  margin-bottom: 5em;
  padding: 3em;
  position: relative;
  top: var(--content-adjust); }
  body #main #display #content h1 {
    border-bottom: 0.09em solid var(--accent);
    color: var(--accent);
    font-family: var(--title-font);
    font-variant: small-caps;
    font-size: 250%;
    font-weight: bold;
    margin: 0;
    text-align: center; }
  body #main #display #content h2 {
    color: var(--accent);
    font-family: var(--serif-font);
    font-size: 170%;
    font-weight: bold;
    margin: 1em 0 0 0;
    text-decoration: underline; }
  body #main #display #content h3 {
    color: var(--accent);
    font-family: var(--serif-font);
    font-size: 140%;
    font-weight: bold;
    margin: 1em 0 0 0; }
  body #main #display #content h4 {
    font-family: var(--serif-font);
    font-size: 120%;
    font-weight: bold;
    margin: 1em 0 0 0; }
  body #main #display #content h5 {
    font-family: var(--serif-font);
    font-size: 100%;
    font-weight: bold;
    margin: 1em 0 0 0; }
  body #main #display #content h6 {
    font-family: var(--sans-font);
    font-size: 100%;
    font-weight: bold;
    margin: 1em 0 0 0; }
  body #main #display #content p {
    margin-top: 1em;
    margin-bottom: 0; }
    body #main #display #content p a {
      color: var(--blue-light); }
    body #main #display #content p a:visited {
      color: var(--blue-shade); }
    body #main #display #content p a:hover {
      color: var(--red-dark); }
    body #main #display #content p em {
      color: var(--accent);
      font-style: italic;
      font-weight: bold; }
  body #main #display #content hr {
    background-color: var(--accent);
    border-style: none;
    height: 0.2em; }
  body #main #display #content h2 + p, body #main #display #content h3 + p, body #main #display #content h4 + p, body #main #display #content h5 + p, body #main #display #content h6 + p {
    margin-top: 0; }

body #text_entry #page_form label {
  color: black;
  font-size: 120%;
  font-weight: normal;
  margin-bottom: 0; }
body #text_entry #page_form #page_form_title {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: var(--accent);
  font-family: var(--title-font);
  font-size: 250%;
  font-variant: small-caps;
  font-weight: bold;
  margin: 0.1em 0 0.4em 0;
  outline: none;
  padding: 0.1em; }
body #text_entry #page_form #page_form_title:focus, body #text_entry #page_form #page_form_title:hover {
  background-color: var(--bg-light); }
body #text_entry #page_form #page_form_subtitle {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: var(--accent);
  font-family: var(--title-font);
  font-size: 150%;
  font-variant: small-caps;
  font-weight: bold;
  margin: 0.1em 0 0.4em 0;
  outline: none;
  padding: 0.1em; }
body #text_entry #page_form #page_form_subtitle:focus, body #text_entry #page_form #page_form_subtitle:hover {
  background-color: var(--bg-light); }
body #text_entry #page_form .mkdn_editor {
  border-color: var(--bg-dark);
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-family: var(--sans-font);
  font-size: 90%;
  margin: 1em 1em 0 1em;
  min-height: 30em;
  outline: none;
  overflow-y: hidden;
  padding: 1em;
  padding-right: calc(1em + var(--scrollbar-width));
  resize: none;
  width: calc(100% - 2em); }
body #text_entry #page_form .mkdn_editor:hover, body #text_entry #page_form .mkdn_editor:focus {
  padding-right: 1em;
  background-color: var(--bg-light);
  overflow-y: scroll; }
body #text_entry #page_form #page_form_preview {
  display: none;
  min-height: 30em; }
body #text_entry #page_form #page_form_submit {
  margin: 0 auto;
  width: 20em; }
body #text_entry #page_form #page_form_review_sub {
  color: var(--accent);
  font-size: 80%;
  font-weight: bold;
  text-align: right; }
  body #text_entry #page_form #page_form_review_sub span {
    cursor: pointer; }
body #text_entry #page_form #page_form_review_sub span:hover {
  color: var(--accent-dark);
  text-decoration: underline; }
body #text_entry #page_form #page_form_switch_sub {
  color: var(--accent);
  font-size: 80%;
  font-weight: bold;
  text-align: left; }
  body #text_entry #page_form #page_form_switch_sub span {
    cursor: pointer; }
body #text_entry #page_form #page_form_switch_sub span:hover {
  color: var(--accent-dark);
  text-decoration: underline; }
body #text_entry #page_form #page_form_path {
  color: var(--accent);
  cursor: pointer;
  font-style: italic;
  font-size: 120%;
  margin-top: 0 !important;
  padding-left: 2em;
  text-indent: -1em; }
body #text_entry #page_form #page_form_path:hover {
  text-decoration: underline; }

body #login_screen #login {
  background-color: var(--bg);
  border: 0.1em solid var(--accent);
  border-radius: 0.5em;
  box-sizing: border-box;
  margin: 10em auto 0 auto;
  padding: 2em 1em;
  width: var(--login-width); }
  body #login_screen #login h1 {
    border-bottom: 0.1em solid var(--accent);
    color: var(--accent);
    font-family: var(--serif-font);
    font-variant: small-caps;
    font-size: 200%;
    font-weight: bold;
    margin: 0em 0 0.5em 0;
    text-align: center; }
  body #login_screen #login h2 {
    color: var(--accent);
    font-family: var(--sans-font);
    font-size: 110%;
    font-weight: bold;
    margin: 1em 0 0 0;
    text-align: center; }
    body #login_screen #login h2 a {
      text-decoration: underline;
      cursor: pointer; }
    body #login_screen #login h2 a:hover {
      color: var(--accent-dark); }
  body #login_screen #login form {
    padding: 0 4em 0em 4em; }
  body #login_screen #login #signup_form {
    display: none; }

body #user_delete_screen #user_delete {
  background-color: var(--bg);
  border: 0.1em solid var(--accent);
  border-radius: 0.5em;
  box-sizing: border-box;
  margin: 10em auto 0 auto;
  padding: 2em 1em;
  width: var(--login-width); }
  body #user_delete_screen #user_delete h1 {
    border-bottom: 0.1em solid var(--accent);
    color: var(--accent);
    font-family: var(--serif-font);
    font-variant: small-caps;
    font-size: 200%;
    font-weight: bold;
    margin: 0em 0 0.5em 0;
    text-align: center; }
  body #user_delete_screen #user_delete h2 {
    color: var(--accent);
    font-family: var(--sans-font);
    font-size: 110%;
    font-weight: bold;
    margin: 1em 0 0 0;
    text-align: center; }
    body #user_delete_screen #user_delete h2 a {
      text-decoration: underline;
      cursor: pointer; }
    body #user_delete_screen #user_delete h2 a:hover {
      color: var(--accent-dark); }
  body #user_delete_screen #user_delete form {
    padding: 0 4em 0em 4em; }
  body #user_delete_screen #user_delete #signup_form {
    display: none; }

/*# sourceMappingURL=main.css.map */
