html {
  height: 100%; }

body {
  color: var(--fg);
  display: flex;
  flex-direction: column;
  font-family: var(--sans-font);
  height: 100%;
  margin: 0; }
  body .fr {
    float: right; }
  body .fl {
    float: left; }
  body .clearer {
    clear: both; }

body > * {
  flex-shrink: 0; }

body #header h1 {
  color: var(--accent);
  font-family: var(--note-font);
  font-size: 3em;
  font-variant: small-caps;
  margin: 0.2em 0 0 0.4em; }

body #navbar {
  background-color: var(--accent);
  box-shadow: 0px 2px 5px var(--accent-dark);
  font-size: 120%;
  height: var(--navbar-height);
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  z-index: 4; }
  body #navbar table {
    border-collapse: collapse;
    height: 100%; }
    body #navbar table .navopt {
      color: var(--fg-light);
      cursor: pointer;
      height: 100%;
      padding: 0 0.5em 0 0.5em;
      vertical-align: middle;
      -moz-transition: background-color 0.4s;
      -webkit-transition: background-color 0.4s;
      transition: background-color 0.4s; }
    body #navbar table .navopt:hover {
      background-color: var(--accent-dark); }
  body #navbar table.right {
    float: right; }
  body #navbar table.left {
    float: left; }

body #main {
  background-color: black;
  background-image: url("../../res/backgrounds/imperial_city.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: inset 0 0 10px #000000;
  background-color: black;
  overflow-x: hidden;
  width: 100%; }

body #sidebar {
  background-color: transparent;
  float: right;
  overflow-x: auto;
  width: var(--sidebar-width); }
  body #sidebar ul {
    margin: 0;
    margin-left: 0.3em;
    padding: 0; }
    body #sidebar ul li {
      background-color: var(--accent);
      border-left: 0.1em solid var(--accent-dark);
      color: var(--fg-light);
      cursor: pointer;
      display: block;
      font-size: 120%;
      font-weight: normal;
      margin: 0;
      padding: 0.2em;
      padding-left: 2em;
      text-indent: -1.5em;
      -moz-transition: background-color 0.4s;
      -webkit-transition: background-color 0.4s;
      transition: background-color 0.4s;
      -moz-transition: margin-left 0.1s;
      -webkit-transition: margin-left 0.1s;
      transition: margin-left 0.1s; }
    body #sidebar ul li.parent {
      border-bottom: 0.1em solid var(--accent-dark); }
    body #sidebar ul li.restart {
      border-top: 0.1em solid var(--accent-dark); }
    body #sidebar ul li.last {
      border-bottom: 0.1em solid var(--accent-dark); }
    body #sidebar ul li:hover {
      background-color: var(--accent-dark);
      margin-left: -0.3em; }
    body #sidebar ul ul {
      margin-left: 0.7em; }
      body #sidebar ul ul li {
        background-color: var(--bg);
        border-left: 0.1em solid var(--accent);
        box-sizing: border-box;
        color: var(--accent);
        cursor: pointer;
        font-size: 110%;
        font-weight: normal;
        margin: 0;
        padding: 0.2em;
        padding-left: 2em;
        text-indent: -1.5em; }
      body #sidebar ul ul li.parent {
        border-bottom: 0.2em solid var(--accent); }
      body #sidebar ul ul li.restart {
        border-top: 0.1em solid var(--accent); }
      body #sidebar ul ul li.last {
        border-bottom: none; }
      body #sidebar ul ul li:hover {
        background-color: var(--bg);
        border-top: 0.1em solid var(--accent);
        border-bottom: 0.1em solid var(--accent);
        margin-left: -0.3em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        font-weight: bold; }
      body #sidebar ul ul li.first:hover {
        border-top: none;
        padding-top: 0.2em; }
      body #sidebar ul ul li.parent:hover {
        padding-bottom: 0.2em;
        border-bottom: 0.2em solid var(--accent); }
      body #sidebar ul ul li.restart:hover {
        padding-top: 0.2em; }
      body #sidebar ul ul li.last:hover {
        padding-bottom: 0.2em;
        border-bottom: none; }
      body #sidebar ul ul ul {
        background-color: var(--accent-light);
        border-left: 0.2em solid var(--accent);
        cursor: pointer;
        font-size: 90%;
        font-weight: normal;
        margin: 0;
        margin-left: 1em;
        padding: 0.1em;
        text-indent: 2em; }
        body #sidebar ul ul ul li {
          background-color: transparent;
          border: 0 none black;
          font-size: 100%;
          margin-left: 1.5em;
          padding: 0.2em 0.5em 0.2em 0.5em;
          text-indent: -1.5em; }
        body #sidebar ul ul ul li.parent {
          border: none; }
        body #sidebar ul ul ul li.restart {
          border: none; }
        body #sidebar ul ul ul li::before {
          content: "\2013\00a0"; }
        body #sidebar ul ul ul li:hover {
          background-color: var(--accent-light);
          border-bottom: none;
          border-top: none;
          font-weight: bold;
          margin-left: 1.5em;
          padding: 0.2em 0.5em 0.2em 0.5em; }
        body #sidebar ul ul ul li.parent:hover {
          border-bottom: none;
          padding: 0.2em 0.5em 0.2em 0.5em; }
        body #sidebar ul ul ul li.last:hover {
          padding: 0.2em 0.5em 0.2em 0.5em; }
        body #sidebar ul ul ul ul {
          background-color: transparent;
          border: 0 none black;
          cursor: pointer;
          font-size: 100%;
          font-weight: normal;
          margin: 0 0 0 0.2em;
          padding-left: 1em; }
          body #sidebar ul ul ul ul li {
            padding: 0.2em 0 0.2em 0; }
          body #sidebar ul ul ul ul li:hover {
            padding: 0.2em 0 0.2em 0; }
          body #sidebar ul ul ul ul li.parent:hover {
            border-bottom: none;
            padding: 0.2em 0 0.2em 0; }
          body #sidebar ul ul ul ul li.last:hover {
            padding: 0.2em 0 0.2em 0; }

body #main #display {
  flex-grow: 1;
  float: right;
  position: relative;
  width: calc(100% - var(--sidebar-width)); }

body #main #display #heading {
  /*background-color: black;
  background-image: url("../../res/backgrounds/imperial_city.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0;*/
  height: var(--heading-height);
  min-width: var(--min-width);
  width: 100%; }
  body #main #display #heading h1, body #main #display #heading h2 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: default;
    display: inline-block;
    font-family: var(--sans-font);
    font-weight: normal;
    left: 50px;
    margin: 0;
    overflow: hidden;
    padding: 0 5px 0 5px;
    position: absolute;
    -webkit-user-select: none; }
  body #main #display #heading h1 {
    font-size: 300%;
    height: 60px;
    line-height: 60px;
    top: 100px; }
  body #main #display #heading h2 {
    font-size: 150%;
    height: 30px;
    line-height: 30px;
    top: 70px; }

body #main #display #content {
  background-color: var(--bg);
  box-sizing: border-box;
  box-shadow: 0 0 10px #000000;
  color: var(--fg);
  margin: 0 auto;
  padding: 3em;
  position: relative;
  top: var(--content-adjust);
  width: var(--content-width); }
  body #main #display #content h1 {
    border-bottom: 0.1em solid var(--accent);
    color: var(--accent);
    font-family: var(--title-font);
    font-variant: small-caps;
    font-size: 250%;
    font-weight: bold;
    margin: 0;
    text-align: center; }
  body #main #display #content h2 {
    color: var(--accent);
    font-family: var(--serif-font);
    font-size: 170%;
    font-weight: bold;
    margin: 1em 0 0 0;
    text-decoration: underline; }
  body #main #display #content h3 {
    color: var(--accent);
    font-family: var(--serif-font);
    font-size: 140%;
    font-weight: bold;
    margin: 1em 0 0 0; }
  body #main #display #content h4 {
    font-family: var(--serif-font);
    font-size: 120%;
    font-weight: bold;
    margin: 1em 0 0 0; }
  body #main #display #content h5 {
    font-family: var(--serif-font);
    font-size: 100%;
    font-weight: bold;
    margin: 1em 0 0 0; }
  body #main #display #content h6 {
    font-family: var(--sans-font);
    font-size: 100%;
    font-weight: bold;
    margin: 1em 0 0 0; }
  body #main #display #content p {
    margin-bottom: 0; }
    body #main #display #content p a {
      color: var(--blue-light); }
    body #main #display #content p a:visited {
      color: var(--blue-shade); }
    body #main #display #content p a:hover {
      color: var(--red-dark); }
    body #main #display #content p em {
      color: var(--accent);
      font-style: italic;
      font-weight: bold; }

/*# sourceMappingURL=main.css.map */
