
:root {
	--min-width: 800px;
	--min-width-delta: 816px;

	--heading-height: 160px;
	--navbar-height: 40px;
	--sidebar-width: 375px;
	--content-width: 1000px;
	--content-adjust: 0px;

	--login-width: 400px;
}