
body #header{
	//background-color: var(--bg-dark);

	h1 {
		color: var(--accent);
		font-family: var(--title-font);
		font-size: 3em;
		font-variant: small-caps;
		font-weight: bold;
		margin: 0.2em 0 0 0.4em;
	}
}